@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  animation: degrade 30s ease alternate infinite;
  animation-delay: 2s;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #28d693, #35add1, #e73c7e, #ee7752)
    no-repeat;
  background-size: 300% 300%;
  user-select: none;
  overflow: hidden;
  color: white;
}
@keyframes degrade {
  from {
    background-position: 0 1%;
  }
  to {
    background-position: 100% 100%;
  }
}
#title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -2px;
  margin-top: 25px;
}
#board {
  width: 320px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.tile {
  border: 2px solid lightgray;
  width: 55px;
  height: 55px;
  margin: 2.5px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.correct {
  background-color: #28d693;
  border-color: white;
}
.present {
  background-color: #e6377a;
  border-color: white;
}
.absent {
  background-color: rgb(54, 57, 63);
  border-color: white;
}
#answer {
  font-size: 25px;
  margin-bottom: 10px;
}
.keyboard-row {
  width: 410px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.key-tile {
  border: 2px solid lightgray;
  width: 35px;
  height: 35px;
  margin: 1px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enter-key-tile {
  border: 2px solid lightgray;
  width: 76px;
  height: 35px;
  margin: 1px;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}
.winning-message-button {
  font-size: 2.5rem;
  background-color: rgb(218, 0, 109);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  font-family: "Press Start 2P", cursive;
  height: 90px;
}
.winning-message-button:hover {
  background-color: rgb(173, 0, 87);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.winning-message-text {
  color: white;
  font-size: 2.9rem;
  font-family: "Press Start 2P", cursive;
}
.show-winning-message {
  display: flex;
}
.menu {
  position: absolute;
  top: 10px;
  left: 0.5%;
  margin-left: 10px;
}

.zoom {
  overflow: hidden;
}
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.zoom:hover img {
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
