@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  animation: degrade 30s ease alternate infinite;
  animation-delay: 2s;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #28d693, #35add1, #e73c7e, #ee7752)no-repeat;
  background-size: 300% 300%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  overflow: hidden;
  user-select: none;
}
@keyframes degrade {
  from {
    background-position: 0 1%;
  }
  to {
    background-position: 100% 100%;
  }
}
h1{
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
}
#board {
  width: 400px;
  height: 400px;
  border: 10px solid darkgrey;
  background-color: lightgrey;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
#board div {
  width: 48px;
  height: 48px;
  border: 1px solid darkgrey;

  /* Texto */
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.tile-clicked {
  background: rgb(192, 191, 191);
  cursor: default;
}
.x1 {
  color: blue;
}
.x2 {
  color: green;
}
.x3 {
  color: red;
}
.x4 {
  color: purple;
}
.x5 {
  color: maroon;
}
.x6 {
  color: turquoise;
}
.x7 {
  color: black;
}
.x8 {
  color: gray;
}
#flag-button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: lightgray;
  border: 5px solid darkgrey;
  border-radius: 50px;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#flag-button:hover {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.2);
  background-color: darkgray !important;
}
.flagEnable{
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.2);
  border-color:  rgb(107, 107, 107) !important;
  background-color: darkgray !important;
}
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}
.winning-message-button {
  font-size: 2.5rem;
  background-color: rgb(218, 0, 109);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  font-family: "Press Start 2P", cursive;
  height: 90px;
}
.winning-message-button:hover {
  background-color: rgb(173, 0, 87);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.winning-message-text {
  color: white;
  font-size: 2.9rem;
  font-family: "Press Start 2P", cursive;
}
.show-winning-message {
  display: flex;
}

.menu {
  position: absolute; 
  top: 10px;
  left: .5%;
  margin-left: 50px;
  }

  .zoom {
    overflow: hidden;
  }
  .zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .zoom:hover img{
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }